@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
	$primary: color-palette.$amber-500,
	$on-primary: #fff,
	$secondary: color-palette.$blue-grey-400,
	$on-secondary: #fff,
	$surface: #fff,
	$background: #fff,
	$error: color-palette.$red-900
);



html,
body {
	background-color: theme.$surface;
	color: theme.$on-surface;
	
}

a {
	text-decoration: none;
	color: theme.$on-primary;
}

// a {
//   color: #40b3ff;
// }
// a:visited {
//   color: color.scale(#40b3ff, $lightness: -35%);
// }
