html,
body {
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

:root {
  --mdc-theme-primary: #ffc107;
  --mdc-theme-secondary: #5d5d78;
  --mdc-theme-background: #000;
  --mdc-theme-surface: #212125;
  --mdc-theme-error: #d32f2f;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #fff;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: white;
  --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-background: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-background: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-background: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

.mdc-theme--primary {
  color: #ffc107  !important;
  /* @alternate */
  color: var(--mdc-theme-primary, #ffc107) !important;
}

.mdc-theme--secondary {
  color: #5d5d78  !important;
  /* @alternate */
  color: var(--mdc-theme-secondary, #5d5d78) !important;
}

.mdc-theme--background {
  background-color: #000;
  /* @alternate */
  background-color: var(--mdc-theme-background, #000);
}

.mdc-theme--surface {
  background-color: #212125;
  /* @alternate */
  background-color: var(--mdc-theme-surface, #212125);
}

.mdc-theme--error {
  color: #d32f2f  !important;
  /* @alternate */
  color: var(--mdc-theme-error, #d32f2f) !important;
}

.mdc-theme--on-primary {
  color: #fff  !important;
  /* @alternate */
  color: var(--mdc-theme-on-primary, #fff) !important;
}

.mdc-theme--on-secondary {
  color: #fff  !important;
  /* @alternate */
  color: var(--mdc-theme-on-secondary, #fff) !important;
}

.mdc-theme--on-surface {
  color: #fff  !important;
  /* @alternate */
  color: var(--mdc-theme-on-surface, #fff) !important;
}

.mdc-theme--on-error {
  color: #fff  !important;
  /* @alternate */
  color: var(--mdc-theme-on-error, #fff) !important;
}

.mdc-theme--text-primary-on-background {
  color: white  !important;
  /* @alternate */
  color: var(--mdc-theme-text-primary-on-background, white) !important;
}

.mdc-theme--text-secondary-on-background {
  color: rgba(255, 255, 255, 0.7)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-background, rgba(255, 255, 255, 0.7)) !important;
}

.mdc-theme--text-hint-on-background {
  color: rgba(255, 255, 255, 0.5)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-hint-on-background, rgba(255, 255, 255, 0.5)) !important;
}

.mdc-theme--text-disabled-on-background {
  color: rgba(255, 255, 255, 0.5)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-disabled-on-background, rgba(255, 255, 255, 0.5)) !important;
}

.mdc-theme--text-icon-on-background {
  color: rgba(255, 255, 255, 0.5)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-icon-on-background, rgba(255, 255, 255, 0.5)) !important;
}

.mdc-theme--text-primary-on-light {
  color: rgba(0, 0, 0, 0.87)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-primary-on-light, rgba(0, 0, 0, 0.87)) !important;
}

.mdc-theme--text-secondary-on-light {
  color: rgba(0, 0, 0, 0.54)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-light, rgba(0, 0, 0, 0.54)) !important;
}

.mdc-theme--text-hint-on-light {
  color: rgba(0, 0, 0, 0.38)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-hint-on-light, rgba(0, 0, 0, 0.38)) !important;
}

.mdc-theme--text-disabled-on-light {
  color: rgba(0, 0, 0, 0.38)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-disabled-on-light, rgba(0, 0, 0, 0.38)) !important;
}

.mdc-theme--text-icon-on-light {
  color: rgba(0, 0, 0, 0.38)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-icon-on-light, rgba(0, 0, 0, 0.38)) !important;
}

.mdc-theme--text-primary-on-dark {
  color: white  !important;
  /* @alternate */
  color: var(--mdc-theme-text-primary-on-dark, white) !important;
}

.mdc-theme--text-secondary-on-dark {
  color: rgba(255, 255, 255, 0.7)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-dark, rgba(255, 255, 255, 0.7)) !important;
}

.mdc-theme--text-hint-on-dark {
  color: rgba(255, 255, 255, 0.5)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-hint-on-dark, rgba(255, 255, 255, 0.5)) !important;
}

.mdc-theme--text-disabled-on-dark {
  color: rgba(255, 255, 255, 0.5)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-disabled-on-dark, rgba(255, 255, 255, 0.5)) !important;
}

.mdc-theme--text-icon-on-dark {
  color: rgba(255, 255, 255, 0.5)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-icon-on-dark, rgba(255, 255, 255, 0.5)) !important;
}

.mdc-theme--primary-bg {
  background-color: #ffc107  !important;
  /* @alternate */
  background-color: var(--mdc-theme-primary, #ffc107) !important;
}

.mdc-theme--secondary-bg {
  background-color: #5d5d78  !important;
  /* @alternate */
  background-color: var(--mdc-theme-secondary, #5d5d78) !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.smui-badge {
  min-height: 24px;
  min-width: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  /* @alternate */
  font-family: var(--mdc-typography-body1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 1rem;
  /* @alternate */
  font-size: var(--mdc-typography-body1-font-size, 1rem);
  line-height: 1.5rem;
  /* @alternate */
  line-height: var(--mdc-typography-body1-line-height, 1.5rem);
  font-weight: 400;
  /* @alternate */
  font-weight: var(--mdc-typography-body1-font-weight, 400);
  letter-spacing: 0.03125em;
  /* @alternate */
  letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em);
  text-decoration: inherit;
  /* @alternate */
  text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-transform: inherit;
  /* @alternate */
  text-transform: var(--mdc-typography-body1-text-transform, inherit);
  position: absolute;
  font-size: 13.3333333333px;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 2;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 4px;
  padding-right: 4px;
}
.smui-badge.smui-badge--rounded {
  border-radius: 24px;
}
.smui-badge.smui-badge--align-top-start.smui-badge--position-inset, .smui-badge.smui-badge--align-top-start.smui-badge--position-middle, .smui-badge.smui-badge--align-top-end.smui-badge--position-inset, .smui-badge.smui-badge--align-top-end.smui-badge--position-middle {
  top: 0;
}
.smui-badge.smui-badge--align-top-start.smui-badge--position-outset, .smui-badge.smui-badge--align-top-end.smui-badge--position-outset {
  bottom: 100%;
}
.smui-badge.smui-badge--align-bottom-start.smui-badge--position-inset, .smui-badge.smui-badge--align-bottom-start.smui-badge--position-middle, .smui-badge.smui-badge--align-bottom-end.smui-badge--position-inset, .smui-badge.smui-badge--align-bottom-end.smui-badge--position-middle {
  bottom: 0;
}
.smui-badge.smui-badge--align-bottom-start.smui-badge--position-outset, .smui-badge.smui-badge--align-bottom-end.smui-badge--position-outset {
  top: 100%;
}
.smui-badge.smui-badge--align-top-end.smui-badge--position-inset, .smui-badge.smui-badge--align-bottom-end.smui-badge--position-inset {
  /* @noflip */
  /*rtl:ignore*/
  left: initial;
  /* @noflip */
  /*rtl:ignore*/
  right: 0;
}
[dir=rtl] .smui-badge.smui-badge--align-top-end.smui-badge--position-inset, [dir=rtl] .smui-badge.smui-badge--align-bottom-end.smui-badge--position-inset, .smui-badge.smui-badge--align-top-end.smui-badge--position-inset[dir=rtl], .smui-badge.smui-badge--align-bottom-end.smui-badge--position-inset[dir=rtl] {
  /*rtl:begin:ignore*/
  /* @noflip */
  /*rtl:ignore*/
  left: 0;
  /* @noflip */
  /*rtl:ignore*/
  right: initial;
  /*rtl:end:ignore*/
}

.smui-badge.smui-badge--align-top-end.smui-badge--position-middle, .smui-badge.smui-badge--align-bottom-end.smui-badge--position-middle {
  /* @noflip */
  /*rtl:ignore*/
  left: initial;
  /* @noflip */
  /*rtl:ignore*/
  right: 0;
}
[dir=rtl] .smui-badge.smui-badge--align-top-end.smui-badge--position-middle, [dir=rtl] .smui-badge.smui-badge--align-bottom-end.smui-badge--position-middle, .smui-badge.smui-badge--align-top-end.smui-badge--position-middle[dir=rtl], .smui-badge.smui-badge--align-bottom-end.smui-badge--position-middle[dir=rtl] {
  /*rtl:begin:ignore*/
  /* @noflip */
  /*rtl:ignore*/
  left: 0;
  /* @noflip */
  /*rtl:ignore*/
  right: initial;
  /*rtl:end:ignore*/
}

.smui-badge.smui-badge--align-top-end.smui-badge--position-outset, .smui-badge.smui-badge--align-bottom-end.smui-badge--position-outset {
  /* @noflip */
  /*rtl:ignore*/
  left: 100%;
  /* @noflip */
  /*rtl:ignore*/
  right: initial;
}
[dir=rtl] .smui-badge.smui-badge--align-top-end.smui-badge--position-outset, [dir=rtl] .smui-badge.smui-badge--align-bottom-end.smui-badge--position-outset, .smui-badge.smui-badge--align-top-end.smui-badge--position-outset[dir=rtl], .smui-badge.smui-badge--align-bottom-end.smui-badge--position-outset[dir=rtl] {
  /*rtl:begin:ignore*/
  /* @noflip */
  /*rtl:ignore*/
  left: initial;
  /* @noflip */
  /*rtl:ignore*/
  right: 100%;
  /*rtl:end:ignore*/
}

.smui-badge.smui-badge--align-top-start.smui-badge--position-inset, .smui-badge.smui-badge--align-bottom-start.smui-badge--position-inset {
  /* @noflip */
  /*rtl:ignore*/
  left: 0;
  /* @noflip */
  /*rtl:ignore*/
  right: initial;
}
[dir=rtl] .smui-badge.smui-badge--align-top-start.smui-badge--position-inset, [dir=rtl] .smui-badge.smui-badge--align-bottom-start.smui-badge--position-inset, .smui-badge.smui-badge--align-top-start.smui-badge--position-inset[dir=rtl], .smui-badge.smui-badge--align-bottom-start.smui-badge--position-inset[dir=rtl] {
  /*rtl:begin:ignore*/
  /* @noflip */
  /*rtl:ignore*/
  left: initial;
  /* @noflip */
  /*rtl:ignore*/
  right: 0;
  /*rtl:end:ignore*/
}

.smui-badge.smui-badge--align-top-start.smui-badge--position-middle, .smui-badge.smui-badge--align-bottom-start.smui-badge--position-middle {
  /* @noflip */
  /*rtl:ignore*/
  left: 0;
  /* @noflip */
  /*rtl:ignore*/
  right: initial;
}
[dir=rtl] .smui-badge.smui-badge--align-top-start.smui-badge--position-middle, [dir=rtl] .smui-badge.smui-badge--align-bottom-start.smui-badge--position-middle, .smui-badge.smui-badge--align-top-start.smui-badge--position-middle[dir=rtl], .smui-badge.smui-badge--align-bottom-start.smui-badge--position-middle[dir=rtl] {
  /*rtl:begin:ignore*/
  /* @noflip */
  /*rtl:ignore*/
  left: initial;
  /* @noflip */
  /*rtl:ignore*/
  right: 0;
  /*rtl:end:ignore*/
}

.smui-badge.smui-badge--align-top-start.smui-badge--position-outset, .smui-badge.smui-badge--align-bottom-start.smui-badge--position-outset {
  /* @noflip */
  /*rtl:ignore*/
  left: initial;
  /* @noflip */
  /*rtl:ignore*/
  right: 100%;
}
[dir=rtl] .smui-badge.smui-badge--align-top-start.smui-badge--position-outset, [dir=rtl] .smui-badge.smui-badge--align-bottom-start.smui-badge--position-outset, .smui-badge.smui-badge--align-top-start.smui-badge--position-outset[dir=rtl], .smui-badge.smui-badge--align-bottom-start.smui-badge--position-outset[dir=rtl] {
  /*rtl:begin:ignore*/
  /* @noflip */
  /*rtl:ignore*/
  left: 100%;
  /* @noflip */
  /*rtl:ignore*/
  right: initial;
  /*rtl:end:ignore*/
}

.smui-badge.smui-badge--align-top-start.smui-badge--position-middle {
  transform-origin: center;
  transform: translateX(-50%) translateY(-50%);
}
[dir=rtl] .smui-badge.smui-badge--align-top-start.smui-badge--position-middle, .smui-badge.smui-badge--align-top-start.smui-badge--position-middle[dir=rtl] {
  /*rtl:begin:ignore*/
  transform: translateX(50%) translateY(-50%);
  /*rtl:end:ignore*/
}

.smui-badge.smui-badge--align-top-end.smui-badge--position-middle {
  transform-origin: center;
  transform: translateX(50%) translateY(-50%);
}
[dir=rtl] .smui-badge.smui-badge--align-top-end.smui-badge--position-middle, .smui-badge.smui-badge--align-top-end.smui-badge--position-middle[dir=rtl] {
  /*rtl:begin:ignore*/
  transform: translateX(-50%) translateY(-50%);
  /*rtl:end:ignore*/
}

.smui-badge.smui-badge--align-bottom-start.smui-badge--position-middle {
  transform-origin: center;
  transform: translateX(-50%) translateY(50%);
}
[dir=rtl] .smui-badge.smui-badge--align-bottom-start.smui-badge--position-middle, .smui-badge.smui-badge--align-bottom-start.smui-badge--position-middle[dir=rtl] {
  /*rtl:begin:ignore*/
  transform: translateX(50%) translateY(50%);
  /*rtl:end:ignore*/
}

.smui-badge.smui-badge--align-bottom-end.smui-badge--position-middle {
  transform-origin: center;
  transform: translateX(50%) translateY(50%);
}
[dir=rtl] .smui-badge.smui-badge--align-bottom-end.smui-badge--position-middle, .smui-badge.smui-badge--align-bottom-end.smui-badge--position-middle[dir=rtl] {
  /*rtl:begin:ignore*/
  transform: translateX(-50%) translateY(50%);
  /*rtl:end:ignore*/
}

.smui-badge.smui-badge--color-primary {
  background-color: #ffc107;
  /* @alternate */
  background-color: var(--mdc-theme-primary, #ffc107);
  color: #fff;
  /* @alternate */
  color: var(--mdc-theme-on-primary, #fff);
}

.smui-badge.smui-badge--color-secondary {
  background-color: #5d5d78;
  /* @alternate */
  background-color: var(--mdc-theme-secondary, #5d5d78);
  color: #fff;
  /* @alternate */
  color: var(--mdc-theme-on-secondary, #fff);
}

.smui-badge.smui-badge--color-custom-green {
  background-color: #cddc39;
  color: rgba(0, 0, 0, 0.87);
}
